---
import { cn } from "~/lib/utils";

interface Props {
	text: string;
	href: string;
	variant?: "primary" | "secondary";
}
const { text, href, variant }: Props = Astro.props;
---

<a
	href={href}
	class={cn(
		"inline-flex items-center w-full md:mx-0 mx-auto sm:w-fit justify-center px-4 py-2 rounded font-semibold transition-colors duration-200 focus-visible:outline focus-visible:outline-offset-2",
		(() => {
			switch (variant) {
				case "primary":
					return "bg-primary text-primary-content hover:bg-primary/90 focus-visible:outline-primary";
				case "secondary":
					return "bg-base-200 text-primary hover:bg-base-300 focus-visible:outline-base-300";
				default:
					return "bg-primary text-primary-content hover:bg-primary/90 focus-visible:outline-primary";
			}
		})(),
	)}
>
	{text}
</a>
