---
import { Image } from "astro:assets";
import { Phone, Mail, MapPin } from "@lucide/astro";
import DEFAULT_FOOTER_IMAGE from "~/assets/astro_alt.png";
import CTAButton from "~/components/CallToActionButton.astro";
const DEFAULT_FOOTER_LINKS = {
	Home: "/",
	Projects: "/projects",
	Services: "/services",
	About: "/about",
	Contact: "/contact",
};
---

<footer
	class="w-full min-h-[70vh] bg-primary border-t border-base-300 px-4 py-6 sm:px-6 flex flex-col"
>
	<div class="grid-cols-1 md:grid-cols-2 gap-4 max-w-7xl w-full mx-auto grid">
		<!-- Contact -->
		<aside class="flex flex-col gap-4 w-full">
			<Image
				src={DEFAULT_FOOTER_IMAGE}
				alt="Logo"
				class="h-20 md:w-fit w-full object-contain"
			/>
			<span class="text-primary-content">
				<ul
					class="flex flex-row gap-4 items-center md:justify-start justify-center"
				>
					<li class="flex items-center gap-2 mb-1">
						<a
							href="tel:+1234567890"
							class="flex items-center gap-2 p-2 rounded hover:text-secondary transition-colors"
						>
							<Phone class="w-6 h-6" />
						</a>
					</li>
					<li class="flex items-center gap-2 mb-1">
						<a
							href="mailto:info@company.com"
							class="flex items-center gap-2 p-2 rounded hover:text-secondary transition-colors"
						>
							<Mail class="w-6 h-6" />
						</a>
					</li>
					<li class="flex items-center gap-2 mb-1">
						<a
							href="https://maps.google.com/?q=123+Main+St,+City,+Country"
							class="flex items-center gap-2 p-2 rounded hover:text-secondary transition-colors"
							target="_blank"
							rel="noopener noreferrer"
						>
							<MapPin class="w-6 h-6" />
						</a>
					</li>
				</ul>
			</span>
      <CTAButton text="Join Now" href="/join" variant="secondary" />
		</aside>
		<nav
			class="flex flex-row gap-4 w-full grid-cols-1 md:grid-cols-2 md:text-start text-center mt-6 md:mt-0"
		>
			<ul class="flex flex-col gap-2 grow">
				<span class="text-primary-content text-lg font-semibold">Quick Links</span>
				{
					Object.entries(DEFAULT_FOOTER_LINKS).map(([label, href]) => (
						<li>
							<a
								href={href}
								class="text-primary-content hover:text-primary-content/50 transition-colors"
							>
								{label}
							</a>
						</li>
					))
				}
			</ul>
			<ul class="flex flex-col gap-2 grow">
				<span class="text-primary-content text-lg font-semibold">Legal</span>
				<li>
					<a
						href="/privacy-policy"
						class="text-primary-content hover:text-primary-content/50 transition-colors"
					>
						Privacy Policy
					</a>
				</li>
				<li>
					<a
						href="/terms-of-service"
						class="text-primary-content hover:text-primary-content/50 transition-colors"
					>
						Terms of Service
					</a>
				</li>
			</ul>
		</nav>
	</div>
  <div class="text-center text-primary-content mt-auto">
    &copy; {new Date().getFullYear()} Astro T2 Template. All rights reserved.
  </div>
</footer>
